:root {
    --font1: 'Source Code Pro', monospace;
    --black: #000;
    --white: #fff;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font1);
    background-color: var(--white);
    color: var(--black);
  }

  h1 {
    text-align: center;
    text-shadow: 1px 1px 2px var(--black);
  }

  .button-style {
    font: var(--font1);
    border: solid;
    border-radius: 40px;
    margin: 4px;
    color: var(--black);
  }

  .button-style:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  }

  .composer-list {
    list-style-type: none;
    padding: 4%;
    text-align: center;
  }